body{

}

.notWhite{
    color: #AFABCA;
}

.bonus{
    color: #00FFD1;
}

.fsItalic{
    font-style: italic;
}

.fw900{
    font-weight: 900;
}

.cH1{
    font-size: 72px;
    padding: 30px 0px 16px;
}

.cH3{
    font-size: 48px;
}

.cH4{
    font-size: 21px;
}

.cH5{
    font-size: 24px;
}

.cH6{
    font-size: 32px;
}

@font-face {
    font-family: "MullerBold";
    src: url(./../font/MullerBold.ttf);
}

.fsMullerBold{
    font-family: "MullerBold";   
    font-weight: 900; 
}

@media (max-width: 1200px){    
    .cH1{
        font-size: 72px;
        padding: 30px 0px 16px;
    }

}

@media (max-width: 768px){    
    .cH1{
        font-size: 62px;
        padding: 22px 0px 12px;
    }
    .cH4{
        font-size: 18px;
    }
    .cH5{
        font-size: 18px;
    }
    
    .cH3{
        font-size: 24px;
    }
    .cH6{
        font-size: 21px;
    }  

}

@media (max-width: 570px) {
    .cH1{
        font-size: 24px;
        padding: 10px 0px;
    }
}

@media (max-width: 320px){  
    .cH4{
        font-size: 11px;
    }
    .cH5{
        font-size: 12px;
    }
}