.positionR{
    position: relative;
}

.coin1{
    position: absolute;
    top: -20px;
    left: 0%;
}
.coin2{
    position: absolute;
    top: -30%;
    left: -2%;

    opacity: .7;
    transform: rotate(76deg);
}
.coin3{
    position: absolute;
    top: -10%;
    left: 12%;
    width: 40px;

    opacity: .7;
    transform: rotate(170deg);
}
.horse1{
    position: absolute;
    top: -20px;
    right: 0%;
}
.horse2{
    position: absolute;
    top: -30%;
    right: 0%;

    opacity: .7;
    transform: rotate(76deg);
}
.horse3{
    position: absolute;
    top: -10%;
    right: 12%;
    width: 40px;

    opacity: .7;
    transform: rotate(170deg);
}